body{
    background-color: #95B9C7;
}
.wrap{
    width: 45%;
    margin:auto;
    
    background-color: #F2F3F5;
    border-radius: 10px;
}
container{
    padding: 5px;
}
button{
    width: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    background-color: cyan;
    border-radius: 7px;
}